.bg-color--city_lights {
    background-color: var(--city_lights);
    color: var(--text-color--light);
}

.bg-color--money_carp {
    background-color: var(--carp-color);
    color: var(--text-color--dark);
}

.bg-color--tff_2017 {
    background-color: var(--blue-color);
    color: var(--text-color--light);
}

.bg-color--lily_in_a_box {
    background-color: var(--brown-color);
    color: var(--text-color--light);
}

.bg-color--library_lights {
    background-color: var(--library-color);
    color: var(--text-color--light);
}
