h1 {
    font-size: 20pt;
}

h2 {
    font-size: 18pt;
    margin: 0;
}

h3 {
    font-size: 16pt;
    margin-top: 0;
}

.external {
    align-items: center;
    color: var(--city-color);
    display: inline-flex;
    text-decoration: none;

    .material-icons {
        font-size: 14pt;
    }
}
