@import '_breakpoints';
@import '_mixins';

:root {
    // Colors
    --carp-color: #ffeb3b;
    --blue-color: #01579b;
    --brown-color: #a1887f;
    --city-color: #0a0d24;
    --library-color: #348d85;

    --text-color--dark: #000;
    --text-color--light: #fff;
    --base-color: rgb(203, 205, 206);
    // Layout
    --gutter-size: 10px;
    --img-size: 100px;
    --header-height: 100px;
}

*  {
    box-sizing: border-box
}

body {
    @include max-mobile--l {
        margin: 0;
    }

    font-family: 'Roboto', sans-serif;
    margin: calc(var(--gutter-size) * 2) auto;
    max-width: 760px;
}

main {
    @include max-mobile--l {
        flex-direction: column;
        height: 90vh;
    }

    display: flex;
    height: 65vh;
    border: 1px solid #{var(--base-color)};
}

article {
    background-color: #ECEFF1;
    overflow: auto;
    padding: var(--gutter-size);
    scroll-behavior: smooth;
    will-change: transform;
}

section {
    background-color: #fff;
    margin-bottom: calc(var(--gutter-size) * 2);
    padding: var(--gutter-size);
    position: relative;
    text-align: justify;
}

aside.content {
    @include max-mobile--l {
        padding: var(--gutter-size);
        text-align: center;
    }

    min-width: 220px;
    padding: calc(var(--gutter-size) * 2);

    ul {
        @include max-mobile--l {
            flex-direction: row;
        }

        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;

        li {
            @include max-mobile--l {
                flex-grow: 1;
                text-align: center;
            }

            &.active-section {
                font-weight: bold;
            }

        }
    }
}

img {
    margin-right: var(--gutter-size);
    width: var(--img-size);
}

.sticky {
    @include standard-curve(box-shadow, .3s);

    &.bg-color--city_lights {
        background-color: var(--city-color);
        color: var(--text-color--light);
    }

    &.bg-color--money_carp {
        background-color: var(--carp-color);
        color: var(--text-color--dark);
    }

    &.bg-color--tff_2017 {
        background-color: var(--blue-color);
        color: var(--text-color--light);
    }

    &.bg-color--lily_in_a_box {
        background-color: var(--brown-color);
    }


    &.bg-color--library_lights {
        background-color: var(--library-color);
        color: var(--text-color--light);
    }

    &.shadow {
        @include shadow();

        img {
            @include shadow();
        }
    }

    img {
        @include standard-curve(box-shadow, .3s);
        border: 1px solid rgba(white, 0.3);
    }

    align-items: center;
    display: flex;
    padding: var(--gutter-size);
    position: sticky;
    top: 10px;
}

h2 {
    font-size: 25pt;
    margin: 0;
}
