:root {
    // Colors
    #{--carp-color}: #ffeb3b;
    #{--blue-color}: #01579b;
    #{--brown-color}: #a1887f;
    #{--city_lights}: #0a0d24;
    #{--library-color}: #348d85;

    #{--text-color--dark}: #000;
    #{--text-color--light}: #fff;
    #{--text-color--body}: #7b8a91;
    #{--base-color}: rgb(203, 205, 206);
    #{--highlight-color}: #607d8b;

    // Layout
    #{--gutter-size}: 10px;
    #{--img-size}: 70px;
    #{--header-height}: 90px;
    #{--aside-height}: 110px;
    #{--box-width}: 760px;
}

@import 'breakpoints';
@import 'mixins';
@import 'helper';
@import 'typography';


*  {
    box-sizing: border-box;
}

body {
    @include max-mobile--l {
        margin: 0;
    }

    &.debug {
        .intersection_area {
            align-items: center;
            color: var(--text-color--light);
            display: flex;
            justify-content: center;
            opacity: 0.8;
            visibility: visible;
        }

        .sticky {
            z-index: 1;
        }
    }

    color: var(--text-color--body);
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: calc(var(--gutter-size) * 2) auto;
    max-width: var(--box-width);
}

main {
    @include max-mobile--l {
        flex: 1;
        flex-direction: column;
    }

    border: 1px solid #{var(--base-color)};
    display: flex;
    height: 30vh;
    overflow: auto;
}

article {
    background-color: #ECEFF1;
    overflow: auto;
    padding: var(--gutter-size);
    scroll-behavior: smooth;
    will-change: transform;
}

section {
    background-color: var(--text-color--light);
    margin-bottom: calc(var(--gutter-size) * 2);
    padding: var(--gutter-size);
    position: relative;
    text-align: justify;
}

aside {
    &.introduction {
        height: var(--aside-height);
        padding: 0 calc(var(--gutter-size) * 2);

        h1 {
            margin: var(--gutter-size) 0 0;
        }
    }

    &.content {
        @include max-mobile--l {
            padding: var(--gutter-size);
            text-align: center;
        }

        height: 150px;
        min-width: 220px;
        padding: calc(var(--gutter-size) * 2);

        ul {
            @include max-mobile--l {
                flex-direction: row;
            }

            display: flex;
            flex-direction: column;
            list-style: none;
            padding: 0;

            li {
                @include max-mobile--l {
                    align-items: center;
                    display: flex;
                    flex-basis: 0;
                    flex-grow: 1;
                    justify-content: center;
                    text-align: center;
                }

                @include standard-curve(transform, .3s);

                &.active {
                    @include shadow();

                    a {
                        color: var(--text-color--light);
                    }

                    background-color: var(--highlight-color);
                    font-weight: bold;
                    transform: scale(1.1);
                }

                a {
                    color: var(--text-color--body);
                    text-decoration: none;
                }

                border-radius: 3px;
                padding: 3px;
            }
        }

        h3 {
            margin: 0;
        }

        #section-list {
            margin-top: 0;
        }

        .mdl-switch {
            display: flex;
        }
    }

    @include max-mobile--l {
        @include shadow-small();
    }
}

img {
    margin-right: var(--gutter-size);
    width: var(--img-size);
}

.sticky {
    @include standard-curve(box-shadow, .3s);

    &.shadow {
        @include shadow();

        img {
            @include shadow();
            width: var(--img-size);
        }
    }

    img {
        @include standard-curve(box-shadow, .3s);
        @include standard-curve(width, .3s);
        border: 1px solid rgba(white, 0.3);
    }

    align-items: center;
    display: flex;
    height: var(--header-height);
    padding: var(--gutter-size);
    position: sticky;
    top: 10px;
}

.intersection_area {
    background: var(--highlight-color);
    left: 0;
    position: absolute;
    right: 0;
    visibility: hidden;
}

.intersection_area--top {
    height: 40px;
    top: -24px;
}

.intersection_area--bottom {
    bottom: 0;
    height: calc(var(--header-height) + var(--gutter-size));
}
